@import url('glitch.css');
@import url('animate-world.css');
@import url('navigation.css');
@import url('footer.css');
@font-face
{
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: 'Roboto','Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin:25px 0;
    text-align: left;
}
.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 70px 0 20px;
    width: 100%;
}
.acc h3:hover{
     color: #98ff98;
}

.acc h3 {
    font-size: 18px;
    background-color: #222;
    color: #fff;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
}

.acc h3:after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.acc.active h3:after {
	content: '-';
}

.content {
    background-color: #98ff98;
    display: none;
}

.content-inner {
    padding: 20px;
}

.content * {
    margin-top: 0;
    line-height: 1.5;
}

.acc {
    border-top: 1px solid #0000;
    border-left: 1px solid #0000;
    border-right: 1px solid #0000;
    border-bottom: 1px solid #0000;
}

footer
{
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 120%;
}
footer .logo{
    display: flex;
    justify-content: center;
}
